/* Varibles */

:root {
   --bg-gradient-primary: linear-gradient(to right, #2193b0, #6dd5ed);
   --color-primary: #2193b0;
}

body {
   background: #efefef;
}

.navbar {
   background: var(--bg-gradient-primary);
   box-shadow: 0 8px 6px -6px #999;
}

.scrollable-menu {
   height: auto;
   max-height: 500px;
   overflow-x: hidden;
}

.dropdown>button:hover, .dropdown>button:focus {
   color: var(--color-primary);
}

.dropdown-item:hover {
   color: var(--color-primary);
}

.chart-container {
   border-radius: 15px;
}

.loader-container {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   height: 100vh;
   width: 100vw;
   align-items: center;
   justify-content: center
}

.lds-dual-ring:after {
   content: " ";
   display: block;
   width: 200px;
   height: 200px;
   margin: 1px;
   border-radius: 50%;
   border: 10px solid var(--color-primary);
   border-color: var(--color-primary) transparent var(--color-primary)transparent;
   animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}